.sliderContainer {
  background-color: #f9f8ff;
  max-width: 1300px;
  margin: 0 auto;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliderTitle {
  font-size: 36px;
  color: #4b4d80;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.slider {
  max-width: 1300px;
}

.slick-prev:before,
.slick-next:before {
  color: gray;
}

.sliderImg {
  padding-left: 25px;
}

.center {
  transform: scale(2);
  background-color: gray;
}

@media screen and (max-width: 1025px) {
  .slider {
    width: 850px;
  }
}

@media screen and (max-width: 769px) {
  .sliderImg {
    padding-left: 10px;
  }

  .slider {
    width: 700px;
  }
}

@media screen and (max-width: 541px) {
  .sliderTitle {
    font-size: 24px;
  }

  .slider {
    width: 470px;
  }
}

@media screen and (max-width: 420px) {
  .sliderImg {
    padding-left: 30px;
  }

  .slider {
    width: 320px;
  }
}
