.infoContainer {
  width: 100%;
  background-color: #f9f8fb;
  padding: 24px 48px;
  position: relative;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 1300px;
  margin: 0 auto;
}

.infoTitle {
  font-size: 36px;
  padding: 0 20px;
  color: #4b4d80;
  border-left: 4px solid #4b4d80;
  border-right: 4px solid #4b4d80;
  text-transform: uppercase;
  margin: 50px 0 30px 0;
}

.infoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.infoText {
  color: #1a1a1a;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  width: 700px;
  z-index: 2;
  background-color: #f9f8ff;
}

.infoImg {
  width: 700px;
  position: relative;
  left: -100px;
  z-index: 1;
  opacity: 0.9;
}

.infoBtn {
  font-size: 1rem;
  color: #7287f2;
  background-color: transparent;
  padding: 8px 16px;
  border: 1px solid #7287f2;
  justify-self: center;
  margin: -10px auto 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.infoBtn:hover {
  color: #f9f8ff;
  background-color: #4b4d80;
  border-color: #4b4d80;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1500px) {
  .infoWrapper {
    width: 1100px;
  }

  .infoText {
    line-height: normal;
  }

  .infoText,
  .infoImg {
    width: 600px;
  }
}

@media screen and (max-width: 1100px) {
  .infoWrapper {
    width: 900px;
  }

  .infoText {
    width: 500px;
    line-height: normal;
  }

  .infoImg {
    width: 500px;
    height: 275px;
  }
}

@media screen and (max-width: 769px) {
  .infoContainer {
    top: -50px;
    padding: 24px 24px;
  }

  .infoWrapper {
    width: 100%;
  }

  .infoContent {
    flex-direction: column;
  }

  .infoText {
    width: 100%;
    text-align: justify;
  }

  .infoImg {
    width: 100%;
    left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 420px) {
}

@media screen and (max-width: 376px) {
  .infoContainer {
    top: 0px;
  }
  .infoTitle {
    margin-top: 100px;
  }
}
